@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code First Challenge</h1>
    <p class="lead">This is a code first entity framework challenge</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Code First Challenge</h2>
        <p>
            Can't wait to get feedback
        </p>
    </div>
</div>