@using InsuranceAgency.ViewModels;
@model InsuranceInformationVM

<div class="center-block">
    @{
        <h3>Hello @ViewBag.FirstName  total is: </h3>
        <h3>@ViewBag.InsuranceTotal</h3>
     }

</div>
