@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Big Mike's Hair Salon</h1>
    <p class="lead">Best Salon in all of Portland</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Big Mike's Salon</h2>
        <p>
            Established in 2018, voted the best salon this side of the Missisipi.
        </p> 
    </div>
    <div class="col-md-4">
        <h2>World Class Hair Dressers</h2>
        <p>As voted by the people</p>
    </div>
    <div class="col-md-4">
        <h2>Create an appointment</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        
    </div>
</div>